@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");

$dark: #262626;
$red: #d63447;
$orange: #f57b51;
$light-grey: #eceaea;
$dark-grey: #adadad;
$white: #ffffff;
$gradient-1: linear-gradient(292.62deg, #f57b51 -8.19%, #d63447 96.8%);
$primary-btn-shadow: 0px 4px 16px rgba(246, 238, 223, 0.3);
$secondary-btn-shadow: 0px 4px 16px rgba(214, 52, 71, 0.45);

$desktop-breakpoint: 1440px;
$laptop-breakpoint: 1200px;
$tablet-breakpoint: 768px;
$mobile-large-breakpoint: 425px;
$mobile-med-breakpoint: 375px;
$mobile-small-breakpoint: 320px;

@mixin noSpaces() {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    @include noSpaces();
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
}

main {
    width: 100%;
}

header {
    position: absolute;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background: transparent;

    & > h1 {
        display: none;
    }
}

section.home {
    width: 100%;
    background: $gradient-1;
    padding: 120px 0px 40px 0px;
    transition: 500ms;

    & > h2.solutions {
        width: 100%;
        text-align: center;
        color: $white;
        font-weight: bold;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 3px;
        font-variant: small-caps;
        text-transform: uppercase;
    }
}

article.carrousell {
    border-radius: 6px;
    display: flex;
    justify-content: center;
    transform: translateX(-10px);
    margin: 32px 0;

    @media (max-width: $laptop-breakpoint) {
        transform: translateX(0);
    }

    & div.arrow-container {
        display: flex;
        align-items: center;

        & > button {
            outline: none;
            border: none;
            width: max-content;
            background: none;

            & > img.arrow {
                cursor: pointer;
                transition: 400ms;
                display: block;
                max-height: max-content;

                &:hover {
                    opacity: 0.8;
                    transform: scale(1.05);
                }
            }
        }

        @media (max-width: $laptop-breakpoint) {
            & > button {
                display: none;
            }
        }
    }

    & > div.slider {
        display: flex;
        margin-left: 16px;
        max-width: 100%;

        & > div.img-container {
            width: 580px;
            max-width: 80%;
            height: 355px;
            margin: 0 16px;
            border-radius: 10px;
            background: $white;
            display: flex;
            align-items: center;
            transition: opacity 300ms ease-in-out;

            & > img {
                width: 100%;
            }
        }

        & > div.description {
            margin: 0 16px;
            width: 386px;
            position: relative;

            & > a#see-more {
                position: absolute;
                bottom: 0;
                left: 0;
                transition: 200ms;
            }

            & > div {
                width: 100%;
                max-height: max-content;
                display: flex;
                flex-direction: column;
                transition: 300ms;
                & > h2 {
                    color: $white;
                    font-weight: 800;
                    font-size: 38px;
                    margin-bottom: 16px;
                    transition: opacity 300ms ease-in-out;
                }

                & > p {
                    color: $white;
                    font-size: 14px;
                    width: 80%;
                    font-weight: 500;
                    margin-bottom: 32px;
                    transition: opacity 300ms ease-in-out;
                }
            }
        }

        @media (max-width: $laptop-breakpoint) {
            flex-direction: column;
            align-items: center;
            margin: 0;

            & > div.img-container {
                margin-bottom: 16px;
            }

            & > div.description {
                width: 80%;
                text-align: center;

                & > div > p {
                    width: 100%;
                }

                & > a#see-more {
                    position: relative;
                    bottom: 0;
                    left: 0;
                    transition: 200ms;
                }
            }
        }

        @media (max-width: $tablet-breakpoint) {
            & > div.img-container {
                height: auto;
                padding: 16px 0;
            }
        }
    }

    @media (max-width: $mobile-med-breakpoint) {
    }
    @media (max-width: $mobile-small-breakpoint) {
    }
}

div.carrousell-index-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 16px;
    height: 16px;
}

span.carrousell-index {
    border-radius: 100%;
    margin: 0 4px;
    background: $white;
    transition: 300ms;
    cursor: pointer;
    width: 8px;
    height: 8px;

    &.active {
        width: calc(8px * 2);
        height: calc(8px * 2);
        cursor: default;
        pointer-events: none;
    }
}

section.newsletter {
    width: 100%;
    background: $white;
    padding: 32px 140px;

    & > h2 {
        width: 100%;
        text-align: center;
        color: $dark;
        font-weight: bold;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 3px;
        font-variant: small-caps;
        text-transform: uppercase;
    }

    & > div.newsletter-content {
        display: flex;
        flex-direction: row;
        margin-top: 32px;

        & > article {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: flex-start;

            & > p {
                color: $dark;
                font-weight: bold;
                font-size: 24px;
            }
        }

        & > form {
            flex: 1;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;

            & > input {
                width: 376px;

                &.last {
                    margin: 16px 0 32px 0;
                }
            }
        }
    }

    @media (max-width: $laptop-breakpoint) {
        padding: 32px 120px;

        & > div.newsletter-content {
            display: flex;
            flex-direction: column;
            margin-top: 32px;

            & > article > p {
                margin-bottom: 24px;
                text-align: center;
            }
        }
    }

    @media (max-width: $tablet-breakpoint) {
        padding: 32px;
    }

    @media (max-width: $mobile-large-breakpoint) {
        padding: 32px 16px;
    }
}

input {
    border: 2px solid $dark-grey;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 8px 12px;
    color: $dark-grey;
    font-size: 16px;
    transition: 400ms;
    outline: none;
    max-width: 100%;

    &:focus {
        border-color: $red;
        box-shadow: 0px 0px 1px $red;
    }

    &::placeholder {
        color: $dark-grey;
        font-size: 16px;
    }

    @media (max-width: $mobile-large-breakpoint) {
        padding: 12px;
    }
}

button {
    width: 274px;
    padding: 16px 0;
    font-size: 16px;
    border-radius: 5px;
    text-align: center;
    transition: 400ms;
    outline: none;
    font-weight: 500;
    max-width: 100%;

    &:hover {
        cursor: pointer;
    }

    &.primary {
        background: $white;
        color: $red;
        border: none;

        &:hover {
            box-shadow: $primary-btn-shadow;
        }
    }

    &.secondary {
        background: transparent;
        color: $red;
        border: 2px solid $red;

        &:hover {
            background: $red;
            box-shadow: $secondary-btn-shadow;
            color: $white;
        }
    }
}

footer {
    width: 100%;
    padding: 32px 124px;
    background: $light-grey;

    & > div {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        & > p {
            font-size: 14px;
            color: $dark-grey;
        }

        & > span {
            visibility: hidden;
            pointer-events: none;
            user-select: none;
        }
    }

    @media (max-width: $laptop-breakpoint) {
        padding: 32px 64px;

        & > div > span {
            display: none;
        }

        & > div > p {
            text-align: center;
        }
    }

    @media (max-width: $tablet-breakpoint) {
        padding: 16px 32px;

        & > div {
            flex-direction: column;
            & > img {
                margin-bottom: 2px;
            }
        }
    }
}

#seo-words-injector {
    display: none;
    width: 0;
    visibility: hidden;
}