<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel='stylesheet' href='/stylesheets/index.css'>
    <link rel='shortcut icon' href='/images/favicon.ico' />
    <meta name=”robots” content='index, follow'>

    <title>Incrição Concluída</title>
</head>

<body>
    <main class='main-subscription'>
        <img src='/images/logo.svg' alt='Zabbix World' />
        <h1>Obrigado por se inscrever</h1>
        <p>A partir de agora você será notificado sobre todas as nossas novidades e atualizações.</p>

        <a href='/'>
            <button class='primary'>
                Voltar ao site
            </button>
        </a>
    </main>
</body>

</html>